body {
    background-color: #B5B5B5;
    margin: 0px;
}

main {
    background-color: white;
    width: 100%;
    margin: 0px 0px 0px -1px;
    padding: 2px 1px 0px 0px;
}


.texto-explica {
    text-align: justify;
    font-size: medium;
}