@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Gajraj+One&display=swap');

header {
    font-family: 'Gajraj One', cursive;
    background-image: linear-gradient(to bottom, #8B9EC4,#445C8F,#213C75);
    text-align: center;
    font-size: 1em;
    padding: 9px;
    width: 70%;
    margin: auto;
    margin-top: 6px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

header > p {
    margin-top: -1px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
}
h1.importante {
    margin: 16px;
    text-align: center;
    font-family: 'Gajraj One', cursive;
    text-decoration: none;

}


strong {
    font-weight: bolder;
}

main > p {
    text-align: center;
}